.searchbar {
    display: flex;
    justify-self: flex-end;
    flex: 7;
    justify-content: center;
    align-content: center;
}

.searchbar-input {
    width:88%;
    padding: 1rem;
    height: 1.6rem;
    border: 1px solid #3c454c;
    border-radius: 3rem;
    background: #201a2f;
}