.chat-header {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 0.3px #3c454c solid;
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: white;
    padding-left: 1rem;
    flex: 8;

}

span {
    text-align: center;
}