.toggle-button{
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5rem;
  width: 300px;
  height: 100%;
  background-color: #0d0122;
  color: white;
}

.sidebar-container {
  position: relative;
  padding: 0.5rem;
}

.sidebar.open {
  /* position: relative; */
  /* padding-top: 90px; */
  transform: translateX(0);
  transition: all 0.3s ease;
}

.sidebar.closed {
  transform: translateX(-100%);
  /* padding-top: 90px; */
  transition: all 0.3s ease;
}

.sidebar-container.closed {
  background-color: #0d0122;
  width: 5%;
  transition: width 0.3s ease;
}

.sidebar-container.open {
  background-color: #0d0122;
  width: 19%;
  transition: width 0.3s ease;
}
